{% extends "base.html" %}
{% block title %}Edit Profile{% endblock %}
{% block content %}



<div class="row">
    <!-- Card panel to display the user form -->
    <div class="col offset-l3 l6 offset-l3 s12 card-panel center-align">
        <h4>Edit Profile</h4>
        <form class="col s12" method="POST" action="{{ url_for('profiles.edit_profile', profile_id=profile._id) }}">
            <div class="row">
                <!-- Group Name -->
                <div class="input-field add-edit col s12">
                    <i class="fas fa-user prefix left"></i>
                    <input id="group_name" name="group_name" type="text"
                        value="{{ profile.group_name }}"  class="validate" required>
                    <label for="group_name">Group Name</label>
                </div>
            </div>
            <div class="row">
                <!-- Contact Name -->
                <div class="input-field add-edit col s12">
                    <i class="fas fa-user prefix left"></i>
                    <input id="contact_name" name="contact_name" type="text" 
                        value="{{ profile.contact_name }}" class="validate" required>
                    <label for="contact_name">Contact Name</label>
                </div>
            </div>
            <div class="row">
                <!-- Contact Email -->
                <div class="input-field add-edit col s12">
                    <i class="fas fa-envelope prefix left"></i>
                    <input id="contact_email" name="contact_email" minlength="5" maxlength="50" 
                        value="{{ profile.contact_email }}" type="text" class="validate" required>
                    <label for="contact_email">Contact Email</label>
                </div>
            </div>
            <div class="row">
                <!-- Contact Phone -->
                <div class="input-field add-edit col s12">
                    <i class="fas fa-lock prefix left"></i>
                    <input id="contact_phone" name="contact_phone" minlength="5" maxlength="30" 
                        value="{{ profile.contact_phone }}" type="text" class="validate" required>
                    <label for="contact_phone">Contact Phone</label>
                </div>
            </div>
            <div class="row">
                <!-- Line Address -->
                <div class="input-field add-edit col s12">
                    <i class="fas fa-lock prefix left"></i>
                    <input id="line_address" name="line_address" type="text" 
                        value="{{ profile.line_address }}" class="validate" required>
                    <label for="line_address">Line Address</label>
                </div>
            </div>
            <div class="row">
                <!-- City -->
                <div class="input-field add-edit col s12">
                    <i class="fas fa-user-tag prefix left"></i>
                    <input id="city" name="city" minlength="3" maxlength="30" 
                    value="{{ profile.city }}" type="text" class="validate" required>
                    <label for="city">City</label>
                </div>
            </div>
            <div class="row">
                <!-- Postcode -->
                <div class="input-field add-edit col s12">
                    <i class="fas fa-user-tag prefix left"></i>
                    <input id="postcode" name="postcode" minlength="2" maxlength="10" 
                        value="{{ profile.postcode }}" type="text" class="validate" required>
                    <label for="postcode">Postcode</label>
                </div>
            </div>
            <div class="row">
                <!-- Country -->
                <div class="input-field add-edit col s12">
                    <i class="fas fa-user-tag prefix left"></i>
                    <input id="country" name="country" minlength="2" maxlength="30" 
                        value="{{ profile.country }}" type="text" class="validate" required>
                    <label for="country">Country</label>
                </div>
            </div>
            <div class="row">
                <!-- Cancel and Submit button -->
                <div class="col s12 center-align">
                    <a href="{{ url_for('profiles.get_profiles') }}" class="btn-large red darken-3 text-shadow">Cancel
                        <i class="fas fa-times-square left"></i>
                    </a>
                    <button class="btn-large light-blue darken-3 text-shadow" type="submit">
                        <i class="fas fa-plus-square left"></i>
                        Save Changes
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>




{% endblock %}