@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

/* Login page textbox on hero image */
.textbox {
    width: 350px;
    border-radius: 10px;
    padding: 1rem;
    position: relative;
    top: 20%;
    left: 10%;
    font-size: 15px;
    font-weight: bold;
    background-color: #fff;
}

.login {
    padding: 6rem 2rem;
}

.hero-image {
    background-image: url("/static/pictures/hotel_room.jpg");
    background-color: #cccccc;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

.input-field label {
  color: black;
  font-weight: bold;
}

label .active {
  color: black;
}

  /* Base.html main right hand side logo, navbar and copyright elements design */ 
  .card {
    min-height: 90vh;
    border-radius: 5px;
    box-shadow: 3px 3px rgb(100, 99, 99);
  }

  .card-space {
    padding: 12px;
  }

  .logo {
    font-size: 36px;
  }
  
  .navbar ul li{
    font-size: 20px;
    letter-spacing: 2px;
    padding-top: 2rem;
    
  }
  
  .navbar ul li a{
    color: #cf9109;
    text-shadow: 2px 2px black;
  }
  
  .bottom-nav {
    position: absolute;
    bottom: 150px;
  }
  
  .copyright {
    position: absolute;
    bottom: 50px;
    margin-left: 0.5rem;
  }

  .nav-copyright {
    margin-left: 2rem;
  }

  .navbar a:hover {
    font-size: 120%;
  }

/* Button designs  */
.btn-large {
  margin: 5px;
}

/* Flash messages design apart */
.flash {
  width: 60%;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 3px 3px rgb(100, 99, 99);
  margin-top: 10px;
}

/* modal pop design */
.modal {
  min-width: 300px;
  border-radius: 1rem;
  padding: 1rem;
}

.modal-profile {
  width: 320px;
}

.modal-profile li {
  padding-bottom: 1rem;
}

.modal-trigger {
  border: none;
  background-color: transparent;
  color: blue;
  cursor: pointer;
}

/* Right hand side widget designs */
  .widget-top {
    min-height: 40vh;
    padding: 10px;
    margin-top: 8px;
    border-radius: 5px;
    box-shadow: 3px 3px rgb(100, 99, 99);
  }
  .widget-bottom {
    margin-top: 2vh;
    min-height: 48vh;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 3px 3px rgb(100, 99, 99);
  }

  .widget h5 {
    margin-top: 1rem;
    font-size: 20px;
  }

  .widget-bottom p {
    padding: 1rem;
  }



  .hotel-logo {
    border-radius: 5px;
    opacity: 70%;
    box-shadow: 3px 3px 3px 3px white;
  }

  /* Reservation page notes and summary designs */
  #textarea {
    height: 150px;
  }

  a {
    color: blue;
  }

  table { 
    width: 100%; 
    border-collapse: collapse; 
  }

  .summary {
    line-height: 10px;
    font-size: 20px;
    margin-top: 1rem;
    letter-spacing: 2px;
  }

  .users li {
    padding: 6px;
  }

.group-name {
  width: 160px;
}

.collapsible {
  margin-bottom: 0;
}

/* Pagination */ 

.pagination-row {
  font-size: 16px;background-color: #37474F;
  color: white;
  border-radius: 10px;
  margin: 0;
  height: 50px;
}

.pagination-row nav {
  background-color: #37474F;
  color: white;
  box-shadow: none;
  height: 50px;
}

.pagination-row li.active {
  background-color: #37474F;
}

.pagination-row li a {
  color: white;
}

.pagination-info {
  margin-top: 15px;
}

.pagination-info::first-letter {
  text-transform: capitalize;
}

/* add user and edit user pages Role selector */
  .is-admin i {
    font-size: 2rem;
    margin-right: 5px;
    margin-left: 5px;
  }

  .is-admin span {
    color: #aaa;
  }
 .collapsible-header span {
   padding: 0.5rem;
   border-right: 0.5px solid #bbb;
 }

 /* contact page message area */
 .message-box {
  height: 100px;
}

.input-field.col label {
  left: 1rem;
}

/* error handling html pages design */ 
.error-container {
  background-color: black;
  opacity: 0.7;
  padding: 2rem 0;
  position: relative;
  top: 100px;
}

.error-container p {
  font-size: 20px;
}


 

  /*--------------------------------------------Media Queries */


  @media only screen and (max-width: 1200px) {
    .navbar ul li{
      font-size: 16px;
      padding-top: 1rem;
    }

    .logo {
      font-size: 26px;
    }

    .widget h5 {
      margin-top: 1rem;
  
    }

  }

  @media only screen and (max-width: 992px) {
    .widget h5 {
      font-size: 18px;
  
    }

    .textbox {
      position: absolute;
      top: 520px;
      right: 10%;
      left: 10%;
      width: 80%;
    }
    
    .login {
      position: absolute;
      top: 5%;
      left: 10%;
      right: 10%;
      background-color: #ccc;
      opacity: 0.9;
      padding: 1rem;
      border-radius: 1rem;
    }
    
    .copyright {
      position: relative;
      bottom: 5%;
    }

  }

  @media only screen and (max-width: 800px) {
    table th, td {
      font-size: 12px;
      padding: 2px 2px;
    }

    h4 {
      font-size: 26px;
    }

    .btn-large {
      font-size: 14px;
      padding: 5px;
      height: 40px;
      line-height: 40px;
      vertical-align: middle;
    }

    .group-name {
      width: 120px;
    }

    .flash {
      width: 60%;
      border: 1px solid #ccc;
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 3px 3px rgb(100, 99, 99);
      margin-top: 10px;
      margin-left: 20%;
      margin-right: 20%;
      position: absolute;
      z-index: 9999;
      top: 1rem;
    }

  }

