
.textbox {
    width: 350px;
    border-radius: 10px;
    padding: 1rem;
    position: relative;
    top: 20%;
    left: 10%;
    font-size: 15px;
    font-weight: bold;
    background-color: #fff;
}

.login {
    padding: 6rem 2rem;
}

.hero-image {
    background-image: url("/static/pictures/hotel_room.jpg");
    background-color: #cccccc;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  #copyright {
    bottom: 5rem;
  }