
.textbox {
    width: 350px;
    border-radius: 10px;
    padding: 1rem;
    position: relative;
    top: 20%;
    left: 10%;
    font-size: 15px;
    font-weight: bold;
    background-color: #fff;
}

.login {
    padding: 6rem 2rem;
}

.hero-image {
    background-image: url("/static/pictures/hotel_room.jpg");
    background-color: #cccccc;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .copyright {
    position: relative;
    top: 250px;
  }

  .card {
    height: 90vh;
  }

  .navbar ul li{
    font-size: 20px;
    letter-spacing: 2px;
    padding-top: 2rem;
    
  }

  .navbar ul li a{
    color: #d3a540;
  }

  .bottom-nav {
    position: relative;
    top: 250px;
  }

  a:hover {
    font-size: 120%;
  }

  .widget-top {
    height: 40vh;
    padding: 5px;
    margin-top: 8px;
  }
  .widget-bottom {
    margin-top: 2vh;
    height: 48vh;
    padding: 5px;
  }