{% extends "base.html" %}
{% block content %}



<div class="row">
    <div class="col offset-l3 l6 offset-l3 s12 card-panel center-align">
        <h4>Add New User</h4>
        <form class="col s12" method="POST" action="{{ url_for('add_user') }}">
    <div class="row">
        <div class="input-field col s12">
            <i class="fas fa-user-cog prefix left"></i>
            <input id="username" name="username" minlength="5" maxlength="30" type="text" class="validate" required>
            <label for="username">Fist Name</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <i class="fas fa-user-cog prefix left"></i>
            <input id="username" name="username" minlength="5" maxlength="30" type="text" class="validate" required>
            <label for="username">Last Name</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <i class="fas fa-user-cog prefix left"></i>
            <input id="username" name="username" minlength="5" maxlength="30" type="text" class="validate" required>
            <label for="username">Email</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <i class="fas fa-user-cog prefix left"></i>
            <input id="username" name="username" minlength="5" maxlength="30" type="text" class="validate" required>
            <label for="username">Password</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <i class="fas fa-user-cog prefix left"></i>
            <input id="username" name="username" minlength="5" maxlength="30" type="text" class="validate" required>
            <label for="username">Position</label>
        </div>
    </div>
    </form>
</div>
</div>




{% endblock %}