{% extends "base.html" %}
{% block content %}



<div class="row">
    <!-- Card panel to display the user form -->
    <div class="col s12 card-panel center-align">
        <h4>Add New Reservation</h4>
        <form class="col s12" method="POST" action="{{ url_for('add_reservation') }}">
            <!-- Group Selector -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
                    <select id="group_name" name="group_name" class="validate" required>
                        <option value="" disabled selected>Choose Group Profile</option>
                        {% for profile in profiles %}
                            <option value="{{ profiles.group_name }}">{{ profile.group_name }}</option>
                        {% endfor %}
                    </select>
                    <label for="group_name">Select Group</label>
                </div>
            </div>
            <div class="row">
                <div class="col l4 m12">
                    <p>Reservation details</p>
                    <!-- Arrival Date -->
                    <div class="input-field s12">
                        <i class="fas fa-user prefix left"></i>
                        <input id="arrival_date" name="arrival_date" placeholder="01/01/2022" minlength="10"
                            maxlength="10" type="text" class="validate" required>
                        <label for="arrival_date">Arrival Date</label>
                    </div>
                    <!-- LOS -->
                    <div class="input-field s12">
                        <i class="fas fa-user prefix left"></i>
                        <input id="los" name="los" minlength="5" maxlength="30" type="text" class="validate" required>
                        <label for="los">LOS</label>
                    </div>
                    <!-- Status -->
                    <div class="input-field s12">
                        <i class="fas fa-envelope prefix left"></i>
                        <input id="status" name="status" minlength="5" maxlength="30" type="text" class="validate"
                            required>
                        <label for="status">Status</label>
                    </div>
                    <!-- Board -->
                    <div class="input-field s12">
                        <i class="fas fa-lock prefix left"></i>
                        <input id="board" name="board" minlength="2" maxlength="3" type="text" class="validate"
                            required>
                        <label for="board">Board</label>
                    </div>
                </div>
                        <div class="col l2 m6">
                    <p>Room Configuration</p>
                    <!-- Single Room-->
                    <div class="input-field">
                        <input id="single_room" name="single_room" minlength="5" maxlength="30" type="text"
                            class="validate" required>
                        <label for="single_room">Single Rooms</label>
                    </div>
                    <!-- Double Room-->
                    <div class="input-field">
                        <input id="double_room" name="double_room" minlength="5" maxlength="30" type="text"
                            class="s6 validate" required>
                        <label for="double_room">Double Rooms</label>
                    </div>
                    <!-- Twin Room-->
                    <div class="input-field s12">
                        <input id="twin_room" name="twin_room" minlength="5" maxlength="30" type="text" class="validate"
                            required>
                        <label for="twin_room">Twin Rooms</label>
                    </div>
                    <!-- Triple Room-->
                    <div class="input-field s12">
                        <input id="triple_room" name="triple_room" minlength="5" maxlength="30" type="text" class="validate"
                            required>
                        <label for="triple_room">Triple Rooms</label>
                    </div>
                </div>
                <div class="col l2 m6">
                    <p>Room Rates</p>
                    <!-- Single Rate -->
                    <div class="input-field">
                        <input id="single_rate" name="single_rate" minlength="5" maxlength="30" type="text"
                            class="validate" required>
                        <label for="single_rate">Single Rates</label>
                    </div>
                    <!-- Double Rate -->
                    <div class="input-field">
                        <input id="double_rate" name="double_rate" minlength="5" maxlength="30" type="text"
                            class="s6 validate" required>
                        <label for="double_rate">Double Rates</label>
                    </div>
                    <!-- Twin Rate -->
                    <div class="input-field">
                        <input id="twin_rate" name="twin_rate" minlength="5" maxlength="30" type="text" class="validate"
                            required>
                        <label for="twin_rate">Twin Rates</label>
                    </div>
                    <!-- Triple Rate -->
                    <div class="input-field s12">
                        <input id="triple_room" name="triple_room" minlength="5" maxlength="30" type="text" class="validate"
                            required>
                        <label for="triple_room">Triple Rates</label>
                    </div>
                </div>
                <div class="col l4 m12">
                    <p>Notes</p>
                    <div class="input-field s12">
                        <textarea id="notes" name="notes" style="width:80%;height:150px;"></textarea>
                        <label for="notes"></label>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Submit button -->
                <div class="col s12 center-align">
                    <button class="btn-large light-blue darken-3 text-shadow" type="submit">
                        <i class="fas fa-plus-square left"></i>
                        Add User
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>




{% endblock %}