{% extends "base.html" %}
{% block content %}



<div class="row">
    <!-- Card panel to display the user form -->
    <div class="col offset-l3 l6 offset-l3 s12 card-panel center-align">
        <h4>Get in touch</h4>
        <!-- Contact form -->
        <div class="text-center contact-form">
            <form id="contactForm" onsubmit="return validateEmailForm()" name="contactForm" novalidate>
                <div class="input-field col s12">
                    <i class="fas fa-user prefix left"></i>
                    <input type="text" class="validate" name="fromName" id="fromName" aria-describedby="fromName"
                        required>
                    <label for="fromName" class="contact-label">Name</label>
                </div>
                <div class="input-field col s12">
                    <i class="fas fa-envelope prefix left"></i>
                    <input type="text" class="validate" name="email" id="email" aria-describedby="fromName"
                        required>
                    <label for="email" class="contact-label">Email</label>
                </div>
                <div class="input-field col s12">
                    <i class="fas fa-align-left prefix left"></i>
                    <textarea type="text" class="email-text validate" name="message" id="message" aria-describedby="fromName"
                        required></textarea>
                    <label for="message" class="contact-label">Your Message</label>
                </div>
                <button type="submit" id="message-button" class="btn text-shadow light-blue darken-3">
                    Send Message
                </button>
            </form>
            <br>
        </div>
    </div>
</div>




{% endblock %}