{% extends "base.html" %}
{% block content %}



<div class="row">
    <!-- Card panel to display the user form -->
    <div class="col offset-l3 l6 offset-l3 s12 card-panel center-align">
        <h4>Get in touch</h4>
        <!-- Contact form -->
        <div class="text-center contact-form">
            <form id="contactForm" onsubmit="return validateEmailForm()" name="contactForm" novalidate>
                <div class="row">
                    <div class="input-field col s12">
                        <div id="name-error" class="text-center"></div>
                        <i class="fas fa-user prefix left"></i>
                        <input type="text" class="validate" name="fromName" id="fromName"
                        aria-describedby="fromName" required>
                        <label for="fromName">Full Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">          
                        <div id="email-error" class="text-center"></div>
                        <i class="fas fa-envelope prefix left"></i>
                        <input type="text" class="validate" name="email" id="email" 
                        aria-describedby="email">
                        <label for="email">Email Address</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">          
                        <div id="message-error" class="text-center"></div>
                        <i class="fas fa-align-left prefix left"></i>
                        <input type="text" class="form-control message-box" name="message" id="message"
                            aria-describedby="message">
                        <label for="message" class="contact-label">Your Message</label>
                    </div>
                </div>


                <button type="submit" id="message-button" class="btn light-blue darken-3 text-shadow">
                    Send Message
                </button>
            </form>
            <br>
        </div>
    </div>
</div>



{% endblock %}