{% extends "base.html" %}
{% block content %}



<div class="row">
    <!-- Card panel to display the user form -->
    <div class="col offset-l3 l6 offset-l3 s12 card-panel center-align">
        <h4>Get in touch</h4>
        <!-- Contact form -->
        <div class="text-center contact-form">
            <form id="contactForm" onsubmit="return validateEmailForm()" name="contactForm" novalidate>
                <label for="fromName" class="contact-label">Full Name</label>
                <div id="name-error" class="text-center"></div>
                <input type="text" class="form-control" name="fromName" id="fromName" aria-describedby="fromName">

                <label for="email" class="contact-label">Email Address</label>
                <div id="email-error" class="text-center"></div>
                <input type="text" class="form-control" name="email" id="email" aria-describedby="email">

                <label for="message" class="contact-label">Your Message</label>
                <div id="message-error" class="text-center"></div>
                <input type="text" class="form-control message-box" name="message" id="message" aria-describedby="message">

                <button type="submit" id="message-button" class="game-selector">
                    Send Message
                </button>
            </form>
            <br>
        </div>
    </div>
</div>




{% endblock %}