<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
        integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        integrity="sha512-UJfAaOlIRtdR+0P6C3KUoTDAxVTuy3lnSXLyLKlHYJlcSU8Juge/mjeaxDNMlw9LgeIotgz5FP8eUQPhX1q10A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <title>ProGroup Login</title>
</head>

<body>
    <div class="row">
<!-- Hero image and text box -->
<div class="col hero-image m8 s12">
    <div class="textbox">
        <p>Track your group reservations with ease from you ProGroup app.</p>
        <p>Add new reservations, categorize by status all managed by you and your organisation.</p>
    </div>
</div>

<!-- Logo and login form -->
        <div class="col m4 s12">
            <div class="login">
                <h3 class="logo">ProGroup</h3>
                    <p class="m4"><strong>Login to your account</strong></p>
                    <form method="POST" action="{{ url_for('reservations')}}">
                         <!-- username -->
                         <div class="row">
                             <div class="input-field col s12">
                                 <label for="username">username</label>
                                 <input id="username" type="text" name="username" minlength="5" 
                                 maxlenght="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate">
                                </div>
                            </div>  
                        <!-- pasword -->
                        <div class="row">
                            <div class="input-field col s12">
                                <label for="password">password</label>
                                <input id="password"type="password" name="username" minlength="5" 
                                maxlenght="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate">
                            </div>
                        </div>
                        <!-- login button -->
                        <div class="row">
                            <button type="submit" class="col s12 btn-large light-blue darken-4 text-shadow">
                                Log In <i class="fas fa-sign-in-alt"></i>
                            </button>
                        </div>
                    </form>
                    <p class="copyright">&copy; <span id="copyright"></span> ProGroup. All rights reserved.</p>
            </div>
        </div>
    </div>

<!-- Scripts -->

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"
        integrity="sha512-NiWqa2rceHnN3Z5j6mSAvbwwg3tiwVNxiAQaaSMSXnRRDh5C2mk/+sKQRw8qjV1vN4nf8iK2a0b048PnHbyx+Q=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>

</html>