{% extends "base.html" %}
{% block content %}



<div class="row">
    <div class="col s12 card-panel">
        <div class="col s6">
            <h4>Profiles</h4>
        </div>
        <div class="col s6 right">
            <!-- Add New User button navigate to add_user.html page -->
            <a href=""><button class="right btn-large light-blue darken-3 text-shadow">
                    <i class="fas fa-plus-square right"></i>Add Profile</button></a>
        </div>
    </div>

    {% for profile in profiles %}
    <!-- Iterate through all the users and displays on the page  -->
    <div class="card-panel col  xl4 l6 m12">
        <ul class="users">
            <h6><strong>{{ profile.group_name }}</strong>
            <a href=""><i class="far fa-edit right"></i></a>
            <a href=""><i class="far fa-trash-alt right"></i></a>
            </h6>
    
            <hr>
            <li><strong>Contact Details</strong></li>
            <li>Contact Name: {{ profiles.contact_name }}</li>
            <li>Contact Email: {{ profile.contact_email }}</li>
            <li>Contact Phone: {{ profile.contact_phone }}</li>
            <li><strong>Contact Address</strong></li>
            <li>{{ profile.line_address }}
                <br>{{ profile.city }}
                <br>{{ profile.postcode }}
                <br>{{ profile.country }}
            </li>
        </ul>
    </div>

    {% endfor %}

</div>



{% endblock %}