{% extends "base.html" %}
{% block content %}

<h3>Reservations</h3>

<div class="row">
    <div class="col s12">
        <ul class="collapsible">
            <li>
              <div class="collapsible-header">
                  Group Name: Behringer Touristik  |  Arrival Date: 25/06/2022  |  LOS: 2 night/s  |  Rooms: 15  |  PAX: 42  |  Board: DBB  |  Status: Confirmed 
                  <a href=""><i class="far fa-edit right"></i></a>
                  <a href=""><i class="far fa-trash-alt right"></i></a>
              </div>
              <div class="collapsible-body row">
                  <div class="col s4">
                    <p>
                        <span>Contact name: </span>
                        <span>Anke Schon</span>
                    </p>
                    <p>
                        <span>Contact Email: </span>
                        <span>info@behringertouristik.de</span>
                    </p>
                    <p>
                        <span>Contact phone: </span>
                        <span>+482546695236</span>
                    </p>
                    <br>
                    <p>
                        <span>Company address:</span>
                    </p>
                    <p>
                        <span>Bahnhof strasse 25</span>
                    </p>
                    <p>
                        <span>Bonn</span>
                    </p>
                    <p>
                        <span>53111</span>
                    </p>
                    <p>
                        <span>Germany</span>
                    </p>
                  </div>
                  <div class="col s2">
                      <p><span><strong>Room Confguration:</strong></span></p>
                  </div>
                  <div class="col s2">
                    <p><span><strong>Room Rate:</strong></span></p>
                  </div>
                  <div class="col s4"></div>
              </div>
            </li>
            <li>
              <div class="collapsible-header">Second</div>
              <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
            </li>
            <li>
              <div class="collapsible-header">d</div>
              <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
            </li>
          </ul>
    </div>
</div>

{% endblock %}