{% extends "base.html" %}
{% block content %}

<div class="row">
    <form class="col s12 card-panel">
      <div class="row valign-wrapper center-align">
        <div class="input-field col s12 m9">
          <i class="fas fa-search prefix light-grey-text text-darken-4"></i>
          <input type="text" name="query" id="query" minlength="3" class="validate" required>
          <label for="query">Search for date, status or group name</label>
        </div>
        <div class="col s12 m3">
          <button type="submit" class="light-blue darken-1 btn text-shadow">
            <i class="fas fa-search left"></i> Search
          </button>
        </div>
      </div>
    </form>
  </div>

<div class="row">
    <div class="col s12">
        <ul class="collapsible">
            <li>
                <div class="collapsible-header">
                    <div class="col s6">
                        <h4>Reservations</h4>
                    </div>
                    <div class="col s6 right">
                        <a href=""><button class="right btn-large light-blue darken-4 text-shadow">
                            <i class="fas fa-plus-square right"></i>Add New Reservation</button></a>
                    </div>
                </div>
            </li>
            <li>
                <div class="collapsible-header">
                    Group Name: Behringer Touristik | Arrival Date: 25/06/2022 | LOS: 2 night/s | Rooms: 15 | PAX: 42 |
                    Board: DBB | Status: Confirmed
                    <a href=""><i class="far fa-edit right"></i></a>
                    <a href=""><i class="far fa-trash-alt right"></i></a>
                </div>
                <div class="collapsible-body row">
                    <div class="col s4">
                        <p>
                            <span>Contact name: </span>
                            <span>Anke Schon</span>
                        </p>
                        <p>
                            <span>Contact Email: </span>
                            <span>info@behringertouristik.de</span>
                        </p>
                        <p>
                            <span>Contact phone: </span>
                            <span>+482546695236</span>
                        </p>
                        <p>
                            <span><strong>Company address:</strong></span>
                        </p>
                        <p>
                            <span>Bahnhof strasse 25</span>
                        </p>
                        <p>
                            <span>Bonn</span>
                        </p>
                        <p>
                            <span>53111</span>
                        </p>
                        <p>
                            <span>Germany</span>
                        </p>
                    </div>
                    <div class="col s8">
                        <div class="col s4">
                            <p><span><strong>Room Confguration:</strong></span></p>
                            <p>
                                <span>Single room: </span>
                                <span class="right">2</span>
                            </p>
                            <p>
                                <span>Double room: </span>
                                <span class="right">12</span>
                            </p>
                            <p>
                                <span>Twin room: </span>
                                <span class="right">5</span>
                            </p>
                            <p>
                                <span>Triple room: </span>
                                <span class="right">2</span>
                            </p>
                        </div>
                        <div class="col s2">
                            <p class="left"><span><strong>Room Rate:</strong></span></p>
                            <p>
                                <span class="center-align">£195</span><br>
                            </p>
                            <p>
                                <span class="center-align">£235</span><br>
                            </p>
                            <p>
                                <span class="center-align">£235</span><br>
                            </p>
                            <p>
                                <span class="center-align">£305</span><br>
                            </p>
                        </div>
                        <div class="col s6">
                            <fieldset>
                                <legend>Notes</legend>
                                <textarea id="textarea" rows="10"></textarea>
                            </fieldset>
                        </div>
                        <div class="row">
                            <div class="col  summary s12">
                                Room Revenue: £4250 | F&B Revenue: £2100 | Total Revenue: £6350
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="collapsible-header">
                    Group Name: Behringer Touristik | Arrival Date: 25/06/2022 | LOS: 2 night/s | Rooms: 15 | PAX: 42 |
                    Board: DBB | Status: Confirmed
                    <a href=""><i class="far fa-edit right"></i></a>
                    <a href=""><i class="far fa-trash-alt right"></i></a>
                </div>
                <div class="collapsible-body row">
                    <div class="col s4">
                        <p>
                            <span>Contact name: </span>
                            <span>Anke Schon</span>
                        </p>
                        <p>
                            <span>Contact Email: </span>
                            <span>info@behringertouristik.de</span>
                        </p>
                        <p>
                            <span>Contact phone: </span>
                            <span>+482546695236</span>
                        </p>
                        <p>
                            <span><strong>Company address:</strong></span>
                        </p>
                        <p>
                            <span>Bahnhof strasse 25</span>
                        </p>
                        <p>
                            <span>Bonn</span>
                        </p>
                        <p>
                            <span>53111</span>
                        </p>
                        <p>
                            <span>Germany</span>
                        </p>
                    </div>
                    <div class="col s8">
                        <div class="col s4">
                            <p><span><strong>Room Confguration:</strong></span></p>
                            <p>
                                <span>Single room: </span>
                                <span class="right">2</span>
                            </p>
                            <p>
                                <span>Double room: </span>
                                <span class="right">12</span>
                            </p>
                            <p>
                                <span>Twin room: </span>
                                <span class="right">5</span>
                            </p>
                            <p>
                                <span>Triple room: </span>
                                <span class="right">2</span>
                            </p>
                        </div>
                        <div class="col s2">
                            <p class="left"><span><strong>Room Rate:</strong></span></p>
                            <p>
                                <span class="center-align">£195</span><br>
                            </p>
                            <p>
                                <span class="center-align">£235</span><br>
                            </p>
                            <p>
                                <span class="center-align">£235</span><br>
                            </p>
                            <p>
                                <span class="center-align">£305</span><br>
                            </p>
                        </div>
                        <div class="col s6">
                            <fieldset>
                                <legend>Notes</legend>
                                <textarea id="textarea" rows="10"></textarea>
                            </fieldset>
                        </div>
                        <div class="row">
                            <div class="col  summary s12">
                                Room Revenue: £4250 | F&B Revenue: £2100 | Total Revenue: £6350
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="collapsible-header">
                    Group Name: Behringer Touristik | Arrival Date: 25/06/2022 | LOS: 2 night/s | Rooms: 15 | PAX: 42 |
                    Board: DBB | Status: Confirmed
                    <a href=""><i class="far fa-edit right"></i></a>
                    <a href=""><i class="far fa-trash-alt right"></i></a>
                </div>
                <div class="collapsible-body row">
                    <div class="col s4">
                        <p>
                            <span>Contact name: </span>
                            <span>Anke Schon</span>
                        </p>
                        <p>
                            <span>Contact Email: </span>
                            <span>info@behringertouristik.de</span>
                        </p>
                        <p>
                            <span>Contact phone: </span>
                            <span>+482546695236</span>
                        </p>
                        <p>
                            <span><strong>Company address:</strong></span>
                        </p>
                        <p>
                            <span>Bahnhof strasse 25</span>
                        </p>
                        <p>
                            <span>Bonn</span>
                        </p>
                        <p>
                            <span>53111</span>
                        </p>
                        <p>
                            <span>Germany</span>
                        </p>
                    </div>
                    <div class="col s8">
                        <div class="col s4">
                            <p><span><strong>Room Confguration:</strong></span></p>
                            <p>
                                <span>Single room: </span>
                                <span class="right">2</span>
                            </p>
                            <p>
                                <span>Double room: </span>
                                <span class="right">12</span>
                            </p>
                            <p>
                                <span>Twin room: </span>
                                <span class="right">5</span>
                            </p>
                            <p>
                                <span>Triple room: </span>
                                <span class="right">2</span>
                            </p>
                        </div>
                        <div class="col s2">
                            <p class="left"><span><strong>Room Rate:</strong></span></p>
                            <p>
                                <span class="center-align">£195</span><br>
                            </p>
                            <p>
                                <span class="center-align">£235</span><br>
                            </p>
                            <p>
                                <span class="center-align">£235</span><br>
                            </p>
                            <p>
                                <span class="center-align">£305</span><br>
                            </p>
                        </div>
                        <div class="col s6">
                            <fieldset>
                                <legend>Notes</legend>
                                <textarea id="textarea" rows="10"></textarea>
                            </fieldset>
                        </div>
                        <div class="row">
                            <div class="col  summary s12">
                                Room Revenue: £4250 | F&B Revenue: £2100 | Total Revenue: £6350
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

{% endblock %}