<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
        integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        integrity="sha512-UJfAaOlIRtdR+0P6C3KUoTDAxVTuy3lnSXLyLKlHYJlcSU8Juge/mjeaxDNMlw9LgeIotgz5FP8eUQPhX1q10A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/emailjs-com@3/dist/email.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <title>ProGroup Login</title>
</head>

<body>
    <div class="row">
        <div class="col hide-on-med-and-down l2">
            <div class="card blue-grey darken-3">
                <!-- Logo -->
                <div class="card-space">
                    <a href="{{ url_for('reservations.get_reservations') }}">
                        <h3 class="logo white-text">ProGroup</h3>
                    </a>
                    <!-- Main left hand side navbar with user authentication -->
                    <div class="navbar white-text">
                        <hr>
                        <ul>
                            {% if session.user %}
                            <li><a href="{{ url_for('reservations.get_reservations') }}">Reservations</a></li>
                            <li><a href="{{ url_for('profiles.get_profiles') }}">Profiles</a></li>
                            {% if session.user|lower == "admin" %}
                            <li><a href="{{ url_for('users.get_users') }}">Users</a></li>
                            {% endif %}
                        </ul>
                        <ul class="bottom-nav">
                            <li><a href="{{ url_for('reservations.contact') }}">Help</a></li>
                            <li><a href="{{ url_for('authentication.logout') }}">Log out</a></li>
                            {% endif %}
                        </ul>
                        <div class="copyright">
                            <p>&copy; <span id="copyright"></span> ProGroup.</p>
                            <p>All rights reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <nav class="hide-on-large-only">
            <!-- Small screen sidenav logo and navbar -->
            <div class="blue-grey darken-3 valign-wrapper nav-wrapper">
                <a href="{{ url_for('reservations.get_reservations') }}" class="brand-logo">
                    <h3 class="logo">ProGroup</h3>
                </a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="fas fa-bars"></i></a>
            </div>
        </nav>

        <ul class="sidenav" id="mobile-demo">
            {% if session.user %}
            <li><a href="{{ url_for('reservations.get_reservations') }}">Reservations</a></li>
            <li><a href="{{ url_for('profiles.get_profiles') }}">Profiles</a></li>
            {% if session.user|lower == "admin" %}
            <li><a href="{{ url_for('users.get_users') }}">Users</a></li>
            {% endif %}
            <li><a href="{{ url_for('reservations.contact') }}">Help</a></li>
            <li><a href="{{ url_for('authentication.logout') }}">Log out</a></li>
            {% endif %}
            <div class="copyright">
                <p>&copy; <span id="copyright"></span> ProGroup.</p>
                <p>All rights reserved.</p>
            </div>
        </ul>
        <div class="col l8 s12 main-container">

            <section>
                <!-- flash messages -->
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}
                <div class="row">
                    <div class="col offset-s4 s4 offset-s4 flash">
                        <h5 class="red-text center-align">{{ message }}</h5>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}
            </section>
            {% block content %}
            {% endblock %}
        </div>
        <!-- Top right widget with comp logo, personalized greeting and live date and time -->
        <div class="col l2 m12 widget">
            <div class="widget-top white-text center-align blue-grey darken-3">
                <img src="{{ url_for('static', filename='pictures/hotel_logo.png') }}" class="hotel-logo"
                    alt="Hotel Logo" width="100%">
                <h5><span id="greeting"></span>{{ session["user"].capitalize() }}</h5>
                <p id="txtTime"></p>
                <p id="txtMonth"></p>
                <h5 id="txtDate"></h5>
                <p id="txtYear"></p>
            </div>
            <!-- Bottom right widget with stats -->
            
            <div class="widget-bottom blue-grey darken-3">
                <div class="card-content center-align white-text">
                    <h5>Statistics</h5>
                    <p>{{ total }}</p>
                    <p>{{ stat1 }}</p>
                    <p>{{ stat2 }}</p>
                    <p>{{ stat3 }}</p>
                </div>
            </div>
            
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"
        integrity="sha512-NiWqa2rceHnN3Z5j6mSAvbwwg3tiwVNxiAQaaSMSXnRRDh5C2mk/+sKQRw8qjV1vN4nf8iK2a0b048PnHbyx+Q=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{{ url_for('static', filename='js/email.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="{{ url_for('static', filename='js/calculation.js') }}"></script>

</body>

</html>