{% extends "base.html" %}
{% block content %}

<div class="row card-panel">
    <!-- seach function with reset and submit buttons -->
    <form method="POST" action="{{ url_for('reservations.search') }}">
        <div class="input-field valign-wrapper col l6 s12">
            <i class="fas fa-search prefix light-grey-text text-darken-4"></i>
            <input type="text" name="query" id="query" placeholder=" " class="validate" required>
            <label for="query">Search status or group name</label>
        </div>
        <div class="col l6 s12">
            <!-- Search and Reset button -->
            <a href="{{url_for('reservations.get_reservations') }}" class="btn red text-shadow"><i
                    class="fas fa-times-square left"></i>Reset</a>
            <button type="submit" class="light-blue darken-1 btn text-shadow">
                <i class="fas fa-search left"></i> Search
            </button>
        </div>
    </form>
</div>

<div class="row">
    <div class="col m6 s12">
        <h4>Reservations</h4>
    </div>
    <!-- Add New Reservation button -->
    <div class="col m6 s12">
        <a href="{{ url_for('reservations.add_reservation') }}"><button
                class="right btn-large light-blue darken-4 text-shadow">
                <i class="fas fa-plus-square left"></i>Add New Reservation</button></a>
    </div>
</div>
<!-- Iterates through the reservations collection and displays -->
<ul class="collapsible">
    {% for reservation in reservations %}
    <li>
        <div class="s12 collapsible-header">
            <table class="table">
                <tr>
                    <th>Group Name</th>
                    <th>Arrival Date</th>
                    <th>LOS</th>
                    <th>Rooms</th>
                    <th>Board</th>
                    <th>Status</th>
                    <th></th>
                </tr>
                <tr>
                    <td>{{ reservation.group_name }}</td>
                    <td>{{ reservation.arrival_date }}</td>
                    <td>{{ reservation.los }}</td>
                    <td>{{ reservation.rooms }}</td>
                    <td>{{ reservation.board }}</td>
                    <td>{{ reservation.status.capitalize() }}</td>
                    <td><a href="{{ url_for('reservations.edit_reservation', reservation_id=reservation._id) }}"><i
                                class="far right fa-edit"></i></a>
                                <a class="right modal-trigger" href="#deleteReservation"><i class="far fa-trash-alt right"></i></a>
                    </td>
                </tr>
            </table>
        </div>
        <div class="collapsible-body row">
            <div class="col s4">
                <p>
                    <span>Contact name: </span>
                    <span>{{ reservation.contact_name }}</span>
                </p>
                <p>
                    <span>Contact Email: </span>
                    <span>{{ reservation.contact_email }}</span>
                </p>
                <p>
                    <span>Contact phone: </span>
                    <span>{{ reservation.contact_phone }}</span>
                </p>
                <p>
                    <span><strong>Company address:</strong></span>
                </p>
                <p>
                    <span>{{ reservation.line_address }}</span>
                </p>
                <p>
                    <span>{{ reservation.city }}</span>
                </p>
                <p>
                    <span>{{ reservation.postcode }}</span>
                </p>
                <p>
                    <span>{{ reservation.coutry }}</span>
                </p>
            </div>
            <div class="col s8">
                <div class="col s4">
                    <p><span><strong>Room Confguration:</strong></span></p>
                    <p>
                        <span>Single room: </span>
                        <span class="right">{{ reservation.single_room }}</span>
                    </p>
                    <p>
                        <span>Double room: </span>
                        <span class="right">{{ reservation.double_room }}</span>
                    </p>
                    <p>
                        <span>Twin room: </span>
                        <span class="right">{{ reservation.twin_room }}</span>
                    </p>
                    <p>
                        <span>Triple room: </span>
                        <span class="right">{{ reservation.triple_room }}</span>
                    </p>
                </div>
                <div class="col s2">
                    <p class="left"><span><strong>Room Rate:</strong></span></p>
                    <p>
                        <span class="center-align">£{{ reservation.single_rate }}</span><br>
                    </p>
                    <p>
                        <span class="center-align">£{{ reservation.double_rate }}</span><br>
                    </p>
                    <p>
                        <span class="center-align">£{{ reservation.twin_rate }}</span><br>
                    </p>
                    <p>
                        <span class="center-align">£{{ reservation.triple_rate }}</span><br>
                    </p>
                </div>
                <div class="col s6">
                    <fieldset>
                        <legend>Notes</legend>
                        <textarea id="textarea" rows="10">{{ reservation.notes }}</textarea>
                    </fieldset>
                    <p>
                        Created by: <span class="center-align">{{ reservation.created_by }}</span><br>
                    </p>
                </div>
                <div class="row">
                    <div class="col summary s12">
                        Revenue: <span id="totalRevenue"></span>
                    </div>
                </div>
            </div>
        </div>
          <!-- Modal Structure for Delete reservation confirmation -->
  <div id="deleteReservation" class="modal">
    <div class="modal-content">
      <h4>Delete Reservation</h4>
      <hr>
      <p>Are you sure you want to delete this reservation?</p>
    </div>
    <hr>
    <div class="modal-footer">
        <button class="modal-close btn-large red">Cancel</button>
      <a href="{{ url_for('reservations.delete_reservation', reservation_id=reservation._id) }}" class="modal-close waves-effect waves-green btn-large">Delete</a>
    </div>
  </div>
    </li>
    {% endfor %}
</ul>

{% endblock %}