{% extends "base.html" %}
{% block title %}Reservation{% endblock %}
{% block content %}

<div class="row card-panel">
    <!-- seach function with reset and submit buttons -->
    <form method="POST" action="{{ url_for('reservations.search') }}">
        <div class="input-field valign-wrapper col l6 s12">
            <i class="fas fa-search prefix light-grey-text text-darken-4"></i>
            <input type="text" name="query" id="query" placeholder=" " class="validate" required>
            <label for="query">Search status or group name</label>
        </div>
        <div class="col center-align l6 s12">
            <!-- Search and Reset button -->
            <a href="{{url_for('reservations.get_reservations') }}" class="btn red darken-3 text-shadow"><i
                    class="fas fa-times-square left"></i>Reset</a>
            <button type="submit" class="light-blue darken-4 btn text-shadow">
                <i class="fas fa-search left"></i> Search
            </button>
        </div>
    </form>
</div>

<div class="row">
    <div class="col s6">
        <h4>Reservations</h4>
    </div>
    <!-- Add New Reservation button -->
    <div class="col s6">
        <a href="{{ url_for('reservations.add_reservation') }}"><button
                class="right btn-large light-blue darken-4 text-shadow">
                <i class="fas fa-plus-square left"></i>Add New</button></a>
    </div>
</div>
<div class="row">
<!-- Iterates through the reservations collection and displays -->
<ul class="col s12 collapsible">
    {% for reservation in reservation %}
    <li>
        <div class="s12 collapsible-header">
            <table class="table">
                <tr>
                    <th class="group-name no-collapse">Group Name</th>
                    <th class="group-name">Arrival Date</th>
                    <th>LOS</th>
                    <th>Rooms / PAX</th>
                    <th>Board</th>
                    <th>Status</th>
                    <th></th>
                </tr>
                <tr>
                    <td class="group-name"><a class="left showProfile modal-trigger" id="getGroupName" href="#showProfile">{{ reservation.group_name }}</a></td>
                    <td class="group-name">{{ reservation.arrival_date }}</td>
                    <td>{{ reservation.los }}</td>
                    <td>{{ reservation.rooms }} / {{ reservation.pax }}</td>
                    <td>{{ reservation.board }}</td>
                    <td>{{ reservation.status.capitalize() }}</td>
                    <td class="no-collapse"><a href="{{ url_for('reservations.edit_reservation', reservation_id=reservation._id) }}"><i
                                class="far right fa-edit tooltipped" data-position="top" data-tooltip="Edit" aria-labelledby="edit"></i></a>
                                <a class="right modal-trigger" href="#deleteReservation">
                                    <i class="far fa-trash-alt right tooltipped" data-position="top" data-tooltip="Delete" aria-labelledby="delete"></i></a>
                                
                    </td>
                </tr>
            </table>
        </div>
        <div class="collapsible-body row">
                <div class="col card-panel l4 m6 s12">
                    <p class="center-align"><span><strong>Room Configuration:</strong></span></p>
                    <p>
                        <span>Single room: </span>
                        <span class="right">{{ reservation.single_room }}</span>
                    </p>
                    <p>
                        <span>Double room: </span>
                        <span class="right">{{ reservation.double_room }}</span>
                    </p>
                    <p>
                        <span>Twin room: </span>
                        <span class="right">{{ reservation.twin_room }}</span>
                    </p>
                    <p>
                        <span>Triple room: </span>
                        <span class="right">{{ reservation.triple_room }}</span>
                    </p>
                    <p>
                        Created by: <span class="center-align">{{ reservation.created_by }}</span><br>
                    </p>
                    <p>
                        Created on: <span class="center-align">{{ reservation.created_on }}</span><br>
                    </p>
                </div>
                <div class="col  card-panel l4 m6 12">
                    <p class="center-align"><span><strong>Room Rate:</strong></span></p>
                    <p>
                        <span>Single room: </span>
                        <span class="right">£{{ reservation.single_rate }}</span><br>
                    </p>
                    <p>
                        <span>Double room: </span>
                        <span class="right">£{{ reservation.double_rate }}</span><br>
                    </p>
                    <p>
                        <span>Twin room: </span>
                        <span class="right">£{{ reservation.twin_rate }}</span><br>
                    </p>
                    <p>
                        <span>Triple room: </span>
                        <span class="right">£{{ reservation.triple_rate }}</span><br>
                    </p>
                    <p>
                        Last updated by: <span class="center-align">{{ reservation.last_updated_by }}</span><br>
                    </p>
                    <p>
                        Last updated on: <span class="center-align">{{ reservation.last_updated_on }}</span><br>
                    </p>
                </div>
                <div class="col l4 m12">
                    <fieldset>
                        <legend>Notes</legend>
                        <textarea id="textarea" rows="10">{{ reservation.notes }}</textarea>
                    </fieldset>
                </div>
        </div>
          <!-- Modal Structure for Delete reservation confirmation -->
  <div id="deleteReservation" class="modal">
    <div class="modal-content">
      <h4>Delete Reservation</h4>
      <hr>
      <p>Are you sure you want to delete this reservation?</p>
    </div>
    <hr>
    <div class="modal-footer">
        <button class="modal-close btn-large red">Cancel</button>
      <a href="{{ url_for('reservations.delete_reservation', reservation_id=reservation._id) }}" class="modal-close waves-effect light-blue btn-large">Delete</a>
    </div>
  </div>
  <div id="showProfile" class="modal modal-profile">
    <div class="modal-content">
      <h4>Group Profile</h4>
      <ul>
            <li><strong>Contact Details</strong></li>
            <li>Contact Name: {{ profile.contact_name }}</li>
            <li>Contact Email: <a href="mailto:{{ profile.contact_email }}">{{ profile.contact_email }}</a></li>
            <li>Contact Phone: <a href="tel:{{ profile.contact_phone }}">{{ profile.contact_phone }}</a></li>
            <li><strong>Contact Address</strong>
                <br>{{ profile.line_address }}
                <br>{{ profile.city }}
                <br>{{ profile.postcode }}
                <br>{{ profile.country }}
            </li>
        </ul>
    </div>
    <div class="modal-footer">
        <button class="modal-close btn-large red">Close</button>
    </div>
  </div>
    </li>
    {% endfor %}
</ul>
</div>
<!-- Pagination -->
<div class="pagination-container">
    <div class="row pagination-row">
        <div class="col m6 s12">
            {{ pagination.links }} 
        </div>
        <div class="col pagination-info m6 s12">
            {{ pagination.info }} 
        </div>
    </div>

</div>

{% endblock %}